body {
  padding-top: 10px;
}

#header h1 {
  background: url(../img/badger-2.png) no-repeat top right;
  background-size: 80px;
  display: inline-block;
  padding-right: 90px;
  margin-bottom: 0.5em;
}

h2 .step {
  border: 3px solid gray;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
  text-align: center;
  line-height: 1.5em;
}

label {
  color: #666;
}

pre {
  background: #eee;
}

