#header h1 {
  background: url(../img/badger-2.png) no-repeat top right;
  background-size: 80px;
  display: inline-block;
  padding-right: 90px;
  margin-bottom: 0.5em;
}

h2 .step {
  border: 3px solid gray;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
  text-align: center;
  line-height: 1.5em;
}

#config label {
  margin-top: 0;
}

#config h2 {
  margin: 0;
  display: inline-block;
}
#config form {
  display: inline-block;
  margin-left: 30px;
}

/* Form style */
label {
  display: block;
  color: #666;
  margin: 8px 0 2px 0;
}

input,
textarea {
  margin: 0;
}

form .long {
  width: 300px;  
}
textarea.long {
  height: 50px;
}

form .med {
  width: 200px;
}

form .status {
  display: inline;
  margin-left: 5px;
}
form .status.error {
  color: red;
}
form .status.success {
  color: green;
}

pre {
  background: #eee;
}

